* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-header {
    background-color: blue;
    color: white;
    padding: 10px;
}

.main-block {
    flex: 1;
    background-color: lightgray;
    padding: 10px;
}

.page-footer {
    background-color: red;
    color: white;
    padding: 10px;
}
