* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    background-color: #2D2D2D;
    color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container {
    display: flex;
    gap: 5px;
    width: 30%;
}

.search-container input{
    height: 100%;
    width: 90%;
}

.search-container button {
    height: 100%;
    width: 10%;
    font-size: 1.5rem;
}

.buttons-container {
    width: 7%;
    display: flex;
    gap: 20%;
}

.buttons-container button {
    height: 100%;
    width: 50%;
    font-size: 2rem;
    border-radius: 50%;
}

.main-block {
    flex: 1;
    background-color: #F5F7FA;
    padding: 10px;
}

.page-footer {
    background-color: #2D2D2D;
    color: white;
    padding: 10px;
}
