* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    background-color: #2D2D2D;
    color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container {
    display: flex;
    gap: 5px;
    width: 30%;
}

.search-container input{
    height: 100%;
    width: 90%;
}

.search-container button {
    height: 100%;
    width: 40px;
    font-size: 1.5rem;
}

.buttons-container {
    display: flex;
    gap: 20%;
}

.buttons-container button {
    height: 50px;
    width: 55px;
    font-size: 2rem;
    border-radius: 50%;
}

.page-nav {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.page-nav a{
    text-decoration: none;
    color: black;
}

.main-block {
    flex: 1;
    background-color: #F5F7FA;
    padding: 10px;
}

.products-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 400px);
    gap: 15px;
}

.product-card {
    border: 1px solid black;
    padding: 1em;
}

.product-card img {
    width: 100%;
    height: 200px;
}

.page-footer {
    background-color: #2D2D2D;
    color: white;
    padding: 10px;
}

@media (max-width: 600px) {
    .page-header h1 {
        display: none;
    }

    .search-container {
        width: 60%;
    }
}
